/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FULLSCREEN LAYOUT */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                 'Open Sans', 'Helvetica Neue', sans-serif;
    background: white;
    color: black;
    line-height: 1.5;
    font-size: larger;
}

/* PUSH FOOTER DOWN */
.main-content {
    flex: 1;
}

/* HEADER */
header {
    background: rgb(255, 109, 133);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav h1 {
    font-size: 22px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
}

/* HERO */
.hero {
    padding: 50px 20px;
    text-align: center;
    background: rgba(255, 234, 173, 0.933);
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 22px;
}

/* SECTIONS */
section {
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
}

.about-text {
    text-align: center;
}

/* SKILLS GRID */
.skills-grid {
    display: grid;
    grid-template-columns: repeat();
    gap: 20px;
    text-align: center;
}

.skill-card {
    background: antiquewhite;
    padding: 20px;
    border: 2px solid salmon;
    border-radius: 16px;
    transition: 0.3s;
}

.skill-card:hover {
    color: rgb(255, 0, 149);
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* PROJECTS GRID */
.projects {
    display: grid;
    grid-template-columns: repeat();
    gap: 20px;
    text-align: center;
}

.projects-card {
    background: antiquewhite;
    padding: 20px;
    border: 2px solid salmon;
    border-radius: 16px;
    transition: 0.3s;
}

.projects-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    color: rgb(255, 0, 149);
}

/* FORM */
form input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: rgb(255, 109, 133);
}

/* FOOTER */
footer {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}
